:root {
    --neumorphic-checkbox-color: rgba(224, 224, 224, 0.4);
    --neumorphic-checkbox-shadow-bright: #ffffff;
    --neumorphic-checkbox-shadow-dark: #9f9f9f;
}

input.neumorphic-checkbox[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

input.neumorphic-checkbox[type="checkbox"] + label {
    cursor: pointer;
}

input.neumorphic-checkbox[type="checkbox"] + label::before {
    margin-right: 0.2em;
    margin-left: 0.1em;
    position: relative;
    top: 0.07em;
    content: '';
    padding: 0.4em;
    display: inline-block;
    border-radius: 0.25em;
    background: var(--neumorphic-checkbox-color);
    box-shadow:  0.09em 0.09em 0.27em var(--neumorphic-checkbox-shadow-dark),
    -0.09em -0.09em 0.27em var(--neumorphic-checkbox-shadow-bright);
}

input.neumorphic-checkbox[type="checkbox"]:checked + label::before {
    box-shadow: inset 0.06em 0.06em 0.18em var(--neumorphic-checkbox-shadow-dark),
    inset -0.06em -0.06em 0.18em var(--neumorphic-checkbox-shadow-bright);
}



/*  Circle  */


:root {
    --circle-checkbox-color: #e0e0e0;
}

input.circle-checkbox[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

input.circle-checkbox[type="checkbox"] + label {
    cursor: pointer;
}

input.circle-checkbox[type="checkbox"] + label::before {
    margin-right: 0.2em;
    content: '';
    padding: 0.3em;
    display: inline-block;
    border-radius: 50%;
    background-color: transparent;
    border: 0.05em solid var(--circle-checkbox-color);
}

input.circle-checkbox[type="checkbox"]:checked + label::before {
    background-color: var(--circle-checkbox-color);
}

