@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

ul {
    list-style: none;
}

body {
    /*min-width: 1000px;*/
    font-size: 14px;
    height: 100%;
    width: 100%;
    -webkit-text-size-adjust: 100%;
}

.body-wrapper {
    display: flex;
    flex-direction: column;
}


/*      Aside    */

.aside-info {
    position: absolute;
    right: 0;
    top: 6px;
}

.card {
    padding: 0 0 6px 26px;
    margin-right: 6px;
}

.card__shadow-box {
    box-shadow: 0 0 32px rgb(0 0 0 / 8%);
    border-radius: 8px;
    width: 186px;
    transition: transform .15s ease-out;
}

.card__card-inner {
    padding: 4px 4px 8px 4px;
    border-radius: 8px;
    background-color: #fff;
}

.card__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 36px;
    padding: 0 8px;
}

.card__item._sign-in {
    border-radius: 7px;
    height: 40px;
    margin-bottom: 8px;
    background-color: #f0f0f0;
}

.yandex-item-icon {
    background-image: url(//yastatic.net/s3/home-static/_/Z/6/nfVezDRqofwQZ5e669DSK84Tw.svg);
}

.ya-mail-item-icon {
    background-image: url(//yastatic.net/s3/home-static/_/7/b/D-rWsV7wtCTSK7KcKySHLQhwg.svg);
}

.ya-disk-item-icon {
    background-image: url(//yastatic.net/s3/home-static/_/x/1/-TtNplC5O-tRjvwluglYJocbs.svg);
}

.card__item-icon {
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-size: 24px;
}



.card__item-title {
    display: block;
    flex-grow: 1;
    font-size: 80%;
    color: inherit;
    font-weight: 500;
}

.card__item-title._center-bold {
    font-weight: 600;
    text-align: center;
    margin-left: -30px;
    font-size: 90%;

}

.card__item._hover-color-red:hover {
    color: #c00;
}

.card__item._hover-bg-darker:hover {
    background-color: #e4e4e4;
}

.ya-plus-item-icon {
    background: url(//yastatic.net/s3/home-static/_/b/q/uyhbff3FsvR1n380s8eZAkOtI.svg) no-repeat 50% 50%;
    margin-top: -4px;
    margin-bottom: -4px;
}

.card__item._solo {
    padding: 12px 14px;
    height: auto;
}

.card__shadow-box._hover-offset:hover {
    transition: transform .15s ease-out;
    transform: translateX(-20px);
}

/*      Main      */

.rows {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.rows__row {
    width: 100%;
}

/*.main{*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*}*/

.main__content {
    margin: -4px 0 7px 0;
    display: flex;
}

.main__row {
    margin-right: auto;
    margin-left: auto;
    width: 1106px;
    padding-right: 17px;
}

.headline {
    display: flex;
    justify-content: space-between;
    padding: 0 6px 0 20px;
    margin: 5px 240px 0 auto;
}

.headline__item {
    display: flex;
}

.headline__left-corner {
    display: flex;
    flex: .05 1 auto;
    flex-shrink: 1;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    color: #90919d;
}

.headline__geo-icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: -4px;
    margin-right: 6px;
    position: relative;
    vertical-align: middle;
}

.headline__city {
    display: inline-block;
    line-height: 42px;
    font-size: 0.93em;
    padding-right: 16px;
    font-weight: 700;
}

.headline__city._hover-color-red:hover {
    color: #c00;
}

.headline__city-name {
    color: inherit;
}

.headline__data-time {
    font-size: .93em;
    padding-right: 24px;
}

.headline__right-corner {
    padding-left: 6px;
}

.headline__bar-item {
    padding-left: 6px;
    cursor: pointer;
}

.ya-bell-icon {
    opacity: .24;
}

.ya-cart-icon {
    width: 36px;
    height: 36px;
    opacity: .24;
    transition: opacity .15s ease-out;
    background: url("data:image/svg+xml;charset=utf8,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.68 5.55H6.48l-.46-1.68a2.2 2.2 0 0 0-2.13-1.62H1.43a1.1 1.1 0 1 0 0 2.2H3.9l2.82 10.33a2.2 2.2 0 0 0 2.48 1.6l11.3-1.9a2.2 2.2 0 0 0 1.84-2.16V7.2c0-.91-.74-1.65-1.65-1.65zM5.83 22.05a2.2 2.2 0 1 0 0-4.4 2.2 2.2 0 0 0 0 4.4zm11 0a2.2 2.2 0 1 0 0-4.4 2.2 2.2 0 0 0 0 4.4z' fill='%23000'/%3E%3C/svg%3E") no-repeat center 8px;
}

.headline__bar-item._hover-increase-opacity:hover {
    opacity: .32;
}

.main__news {
    padding: 0 4px 4px 20px;
    flex: 1 0 66.6%;
}

.widgets {
    flex: 0 0 33.3%;
}

.main__titles {
    padding-top: 4px;
    margin-right: 18px;
    white-space: nowrap;
}

.main__title {
    margin: 0 12px 8px 0;
    display: inline-block;
    font-weight: 500;
    font-size: 123%;
    vertical-align: baseline;
}

.main__title._primary {
    color: #0054b9;
}

.main__title._secondary {
    color: #6da2e1;
}

.main__title._additional {
    font-size: 81.25%;
    color: #ee7b00;
}

.main__title-link._hover-color-red:hover {
    color: #c00;
}

.main__title._color-blue {
    color: #0054b9;
}

.news-list__item {
    font-size: 81.25%;
    padding-right: 24px;
    margin-bottom: 8px;
}

.news-list__item-title {
    display: inline-block;
    padding-left: 4px;
    white-space: normal;
}

.news-list__item-icon {
    width: 14px;
    height: 14px;
    vertical-align: top;
    background-size: cover;
    display: inline-block;
}

.ya-1-icon {
    background-image: url("https://avatars.mds.yandex.net/get-ynews-logo/135513/1014-1627575534690-square/logo-square");
}

.ya-2-icon {
    background-image: url("https://avatars.mds.yandex.net/get-ynews-logo/135513/1002-1544074003449-square/logo-square");
}

.ya-3-icon {
    background-image: url("https://avatars.mds.yandex.net/get-ynews-logo/41096/8352-1506595261741-square/logo-square");
}

.ya-4-icon {
    background-image: url("https://avatars.mds.yandex.net/get-ynews-logo/135513/2220-1478692942720-square/logo-square");
}

.news-list__link {
    white-space: nowrap;
}

.news-list__link._hover-color-red:hover {
    color: #c00;
}

.main__services {
    margin-top: 12px;
    margin-bottom: 20px;
}

.main__services-list {
    display: flex;
    width: 100%;
}

.main__services-icon {
    width: 44px;
    height: 44px;
    display: block;
}

.main__services-item {
    flex: 1 1 10%;
}


.main__services-link {
    display: block;
    min-width: 90px;
    transition: all 0.15s ease-out;
}

.main__services-name {
    display: block;
    text-align: center;
    font-size: 12px;
    width: 100%;
}

.main__services-link-first {
    position: relative;
}

.main__services-link-first::before {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 24px;
    right: 0;
    top: 10px;
    background-color: #eaeaea;
}

.main__services-icon {
    margin: 0 auto 2px;
    transition: 0.15s ease-out;
}

.ya-market-icon {
    background-image: url(//yastatic.net/s3/home/services/block/market_1111.svg);
}

.ya-video-icon {
    background-image: url(//yastatic.net/s3/home/services/block/video_new.svg);
}

.ya-pictures-icon {
    background-image: url(//yastatic.net/s3/home/services/block/images_new.svg);
}

.ya-news-icon {
    background-image: url(//yastatic.net/s3/home/services/block/news_new.svg);
}

.ya-maps-icon {
    background-image: url(//yastatic.net/s3/home/services/block/maps_new3.svg);
}

.ya-translate-icon {
    background-image: url(//yastatic.net/s3/home/services/block/translate_new.svg);
}

.ya-music-icon {
    background-image: url(//yastatic.net/s3/home/services/block/music_new.svg);
}

.ya-etc-icon {
    background-image: url(//yastatic.net/s3/home/services/block/music_new.svg);
}

.main__services-link._hover-up-red:hover {
    color: #cc0000;
}

.main__services-link._hover-up-red:hover .main__services-icon {
    transform: translateY(-4px);
    transition: 0.15s ease-out;
}

.main__weather-content {
    display: flex;
    align-items: center;
}

.main__weather-icon {
    margin-top: -4px;
    vertical-align: middle;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36'%3e%3cdefs%3e%3cradialGradient cx='88.2%25' cy='11.31%25' fx='88.2%25' fy='11.31%25' r='51.28%25' gradientTransform='matrix(0 -.975 1 0 .77 .97)' id='a'%3e%3cstop stop-color='%239699C7' offset='0%25'/%3e%3cstop stop-color='%239499C9' stop-opacity='0' offset='100%25'/%3e%3c/radialGradient%3e%3cradialGradient cx='8.17%25' cy='-6.53%25' fx='8.17%25' fy='-6.53%25' r='65.22%25' gradientTransform='matrix(0 -.975 1 0 .15 .01)' id='b'%3e%3cstop stop-color='%239699C7' offset='0%25'/%3e%3cstop stop-color='%239499C9' stop-opacity='0' offset='100%25'/%3e%3c/radialGradient%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' id='c'%3e%3cstop stop-color='%23A4C5F4' offset='0%25'/%3e%3cstop stop-color='%23A7C7F2' offset='100%25'/%3e%3c/linearGradient%3e%3cradialGradient cx='88.2%25' cy='9.46%25' fx='88.2%25' fy='9.46%25' r='49.38%25' gradientTransform='matrix(0 -.975 1 0 .79 .95)' id='d'%3e%3cstop stop-color='%23486DA8' offset='0%25'/%3e%3cstop stop-color='%23486DA8' stop-opacity='0' offset='100%25'/%3e%3c/radialGradient%3e%3cradialGradient cx='14.44%25' cy='0%25' fx='14.44%25' fy='0%25' r='51.28%25' gradientTransform='matrix(0 -.975 1 0 .14 .14)' id='e'%3e%3cstop stop-color='%23486DA8' offset='0%25'/%3e%3cstop stop-color='%23486DA8' stop-opacity='0' offset='100%25'/%3e%3c/radialGradient%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='122.37%25' id='f'%3e%3cstop stop-color='%23A4C5F4' offset='0%25'/%3e%3cstop stop-color='%23A7C7F2' offset='100%25'/%3e%3c/linearGradient%3e%3c/defs%3e%3cg fill='none' fill-rule='evenodd'%3e%3cpath d='M29.07 21.55a4.29 4.29 0 1 0-.04-8.57 5.71 5.71 0 0 0-11.07-2.59 5.71 5.71 0 1 0-1.75 11.16h12.86z' fill='%2373A5E6' opacity='.32'/%3e%3cg transform='translate(3 10.55)'%3e%3cellipse fill='url(%23a)' opacity='.2' cx='7.5' cy='12.31' rx='6' ry='6.15'/%3e%3cellipse fill='url(%23b)' opacity='.2' cx='23.25' cy='14.62' rx='3.75' ry='3.85'/%3e%3cpath d='M7.5 18.46c-3.31 0-6-2.75-6-6.15 0-3.4 2.69-6.16 6-6.16a6 6 0 0 1 1.8.28 6.78 6.78 0 0 1 6.45-4.9 6.84 6.84 0 0 1 6.67 8 4.4 4.4 0 0 1 1.58-.3c2.49 0 4.5 2.07 4.5 4.62a4.56 4.56 0 0 1-4.5 4.61H7.5z' fill='url(%23c)'/%3e%3cellipse fill='url(%23d)' opacity='.34' cx='7.5' cy='12.31' rx='6' ry='6.15'/%3e%3cellipse fill='url(%23e)' opacity='.2' cx='24' cy='13.85' rx='4.5' ry='4.62'/%3e%3cellipse fill='url(%23f)' cx='15.75' cy='8.46' rx='6.75' ry='6.92'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}

.main__weather-link._big {
    display: flex;
    font-size: 26px;
    align-items: center;
    margin-right: 10px;
}

.main__weather-link {
    font-size: 12px;
    margin-right: 7px;
}

.main__weather-link._hover-color-red:hover .main__weather-value {
    color: #cc0000;
}

.main__weather-forecast {
    display: flex;
}


.main__weather-icon._big {
    width: 48px;
    height: 48px;
    margin: -24px 8px -24px -6px;
}

.main__weather-time {
    display: block;
    font-size: 9px;
    text-align: center;
    color: #90919d;
    margin-bottom: 3px;
}

.widgets__transport-visual {
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.widgets__transport-visual._hover-color-red:hover {
    color: #cc0000;
}

.widgets__transport-icon {
    margin-right: 12px;
    display: inline-block;
    width: 38px;
    height: 35px;
    background-image: url(//yastatic.net/s3/home-static/_/W/6/3iKv0HwMyq3LM_iMXrpDbLZkM.svg);
    background-size: cover;
}

.widgets__transport-value {
    display: inline-block;
    font-size: 26px;
}

.widgets__transport-traffic {
    display: flex;
    align-items: center;
}

.widgets__transport-link._hover-color-red:hover {
    color: #cc0000;
}

.widgets__transport-link {
    font-size: 12px;
    font-weight: 500;
}