@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

.hover-red-link:hover {
    color: #cc0000;
}

ul {
    list-style: none;
}

body {
    /*min-width: 1000px;*/
    font-size: 16px;
    height: 100%;
    width: 100%;
    -webkit-text-size-adjust: 100%;
}




/*      ASIDE    */

.aside-info {
    position: absolute;
    right: 0;
    top: 6px;
}

.aside-info__item {
    margin: 0 6px 6px 26px;
}

.card {
    box-shadow: 0 0 32px rgb(0 0 0 / 8%);
    border-radius: 8px;
    width: 206px;
    transition: transform .15s ease-out;
}

.card__card-inner {
    padding: 4px 4px 8px 4px;
    border-radius: 8px;
    background-color: #fff;
}

.card__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 36px;
    padding: 0 8px;
}

.card__item._sign-in {
    border-radius: 7px;
    height: 40px;
    margin-bottom: 8px;
    background-color: #f0f0f0;
}

.yandex-item-icon {
    background-image: url(//yastatic.net/s3/home-static/_/Z/6/nfVezDRqofwQZ5e669DSK84Tw.svg);
}

.ya-mail-item-icon {
    background-image: url(//yastatic.net/s3/home-static/_/7/b/D-rWsV7wtCTSK7KcKySHLQhwg.svg);
}

.ya-disk-item-icon {
    background-image: url(//yastatic.net/s3/home-static/_/x/1/-TtNplC5O-tRjvwluglYJocbs.svg);
}

.card__item-icon {
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-size: 24px;
}



.card__item-title {
    display: block;
    flex-grow: 1;
    font-size: 0.7em;
    color: inherit;
    font-weight: 500;
}

.card__item-title._center-bold {
    font-weight: 600;
    text-align: center;
    margin-left: -30px;
    font-size: 0.8em;

}

.card__item._hover-bg-darker:hover {
    background-color: #e4e4e4;
}

.ya-plus-item-icon {
    background: url(//yastatic.net/s3/home-static/_/b/q/uyhbff3FsvR1n380s8eZAkOtI.svg) no-repeat 50% 50%;
    margin-top: -4px;
    margin-bottom: -4px;
}

.card__item._solo {
    padding: 12px 14px;
    height: auto;
}

.card__shadow-box._hover-offset:hover {
    transition: transform .15s ease-out;
    transform: translateX(-20px);
}

/*      Main      */

.rows {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.rows__row {
    width: 100%;
}

.main__content {
    margin: -4px 0 7px 0;
    display: flex;
}

.main__row {
    margin-right: auto;
    margin-left: auto;
    width: 958px;
    padding-right: 17px;
}

.headline {
    display: flex;
    justify-content: space-between;
    padding: 0 6px 0 20px;
    margin: 5px 240px 0 auto;
}

.headline__left-corner {
    display: flex;
    flex: 0.05 1 auto;
    flex-shrink: 1;
    align-items: baseline;
    color: #90919d;
    font-size: 0.75em;
}

.headline__geo-icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: -4px;
    margin-right: 6px;
    position: relative;
    vertical-align: middle;
}

.headline__city {
    display: inline-block;
    line-height: 42px;
    padding-right: 16px;
    font-weight: 700;
}

.headline__city-name {
    color: inherit;
}

.headline__data-time {
    font-size: .93em;
    padding-right: 24px;
}

.headline__right-corner {
    display: flex;
    padding-left: 6px;
}

.headline__bar-item {
    padding-left: 6px;
    opacity: .24;
    cursor: pointer;
    transition: opacity .15s ease-out;
}

.headline__bar-item._hover-increase-opacity:hover {
    opacity: .32;
}

.ya-cart-icon {
    width: 36px;
    height: 36px;
    background: url("data:image/svg+xml;charset=utf8,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.68 5.55H6.48l-.46-1.68a2.2 2.2 0 0 0-2.13-1.62H1.43a1.1 1.1 0 1 0 0 2.2H3.9l2.82 10.33a2.2 2.2 0 0 0 2.48 1.6l11.3-1.9a2.2 2.2 0 0 0 1.84-2.16V7.2c0-.91-.74-1.65-1.65-1.65zM5.83 22.05a2.2 2.2 0 1 0 0-4.4 2.2 2.2 0 0 0 0 4.4zm11 0a2.2 2.2 0 1 0 0-4.4 2.2 2.2 0 0 0 0 4.4z' fill='%23000'/%3E%3C/svg%3E") no-repeat center 8px;
}

.main__news {
    padding: 0 4px 4px 20px;
    flex: 1 0 66.6%;
}

.widgets {
    flex: 0 0 33.3%;
}

.widgets__weather {
    margin-bottom: 14px;
}

.main__titles {
    padding-top: 4px;
    margin-right: 18px;
    white-space: nowrap;
}

.main__title {
    margin: 0 12px 8px 0;
    display: inline-block;
    font-weight: 500;
    font-size: 1.1em;
    vertical-align: baseline;
}

.main__title._primary {
    color: #0054b9;
    font-weight: 600;
}

.main__title._secondary {
    color: #6da2e1;
}

.main__title._additional {
    font-size: 81.25%;
    color: #ee7b00;
}

.main__title._color-blue {
    color: #0054b9;
}

.news-list__item {
    font-size: 81.25%;
    padding-right: 24px;
    margin-bottom: 8px;
}

.news-list__item-title {
    display: inline-block;
    padding-left: 4px;
    white-space: normal;
}

.news-list__item-icon {
    width: 14px;
    height: 14px;
    vertical-align: top;
    background-size: cover;
    display: inline-block;
}

.ya-1-icon {
    background-image: url("https://avatars.mds.yandex.net/get-ynews-logo/135513/1014-1627575534690-square/logo-square");
}

.ya-2-icon {
    background-image: url("https://avatars.mds.yandex.net/get-ynews-logo/135513/1002-1544074003449-square/logo-square");
}

.ya-3-icon {
    background-image: url("https://avatars.mds.yandex.net/get-ynews-logo/41096/8352-1506595261741-square/logo-square");
}

.ya-4-icon {
    background-image: url("https://avatars.mds.yandex.net/get-ynews-logo/135513/2220-1478692942720-square/logo-square");
}

.news-list__link {
    white-space: nowrap;
}

.rates-news {
    display: flex;
}

.rates-news-item {
    margin: 0 12px 9px 0;
    font-size: 0.7em;
}

.currency {
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 6px;
}


.currency-value {
    margin-right: 7px;
}

.currency-stock {
    color: #999;
}




.main__services {
    margin-top: 12px;
    margin-bottom: 20px;
}

.main__services-list {
    display: flex;
    width: 100%;
}

.main__services-icon {
    width: 44px;
    height: 44px;
    display: block;
}

.main__services-item {
    flex: 1 1 10%;
}


.main__services-link {
    display: block;
    min-width: 90px;
    transition: all 0.15s ease-out;
}

.main__services-name {
    display: block;
    text-align: center;
    font-size: 12px;
    width: 100%;
}

.main__services-link-first {
    position: relative;
}

.main__services-link-first::before {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 24px;
    right: 0;
    top: 10px;
    background-color: #eaeaea;
}

.main__services-icon {
    margin: 0 auto 2px;
    transition: 0.15s ease-out;
}

.ya-market-icon {
    background-image: url(//yastatic.net/s3/home/services/block/market_1111.svg);
}

.ya-video-icon {
    background-image: url(//yastatic.net/s3/home/services/block/video_new.svg);
}

.ya-pictures-icon {
    background-image: url(//yastatic.net/s3/home/services/block/images_new.svg);
}

.ya-news-icon {
    background-image: url(//yastatic.net/s3/home/services/block/news_new.svg);
}

.ya-maps-icon {
    background-image: url(//yastatic.net/s3/home/services/block/maps_new3.svg);
}

.ya-translate-icon {
    background-image: url(//yastatic.net/s3/home/services/block/translate_new.svg);
}

.ya-music-icon {
    background-image: url(//yastatic.net/s3/home/services/block/music_new.svg);
}

.ya-etc-icon {
    background-image: url(//yastatic.net/s3/home/services/block/music_new.svg);
}

.main__services-link._hover-up-red:hover {
    color: #cc0000;
}

.main__services-link._hover-up-red:hover .main__services-icon {
    transform: translateY(-4px);
    transition: 0.15s ease-out;
}

.main__weather-content {
    display: flex;
    align-items: center;
}

.main__weather-icon {
    margin-top: -4px;
    vertical-align: middle;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36'%3e%3cdefs%3e%3cradialGradient cx='88.2%25' cy='11.31%25' fx='88.2%25' fy='11.31%25' r='51.28%25' gradientTransform='matrix(0 -.975 1 0 .77 .97)' id='a'%3e%3cstop stop-color='%239699C7' offset='0%25'/%3e%3cstop stop-color='%239499C9' stop-opacity='0' offset='100%25'/%3e%3c/radialGradient%3e%3cradialGradient cx='8.17%25' cy='-6.53%25' fx='8.17%25' fy='-6.53%25' r='65.22%25' gradientTransform='matrix(0 -.975 1 0 .15 .01)' id='b'%3e%3cstop stop-color='%239699C7' offset='0%25'/%3e%3cstop stop-color='%239499C9' stop-opacity='0' offset='100%25'/%3e%3c/radialGradient%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' id='c'%3e%3cstop stop-color='%23A4C5F4' offset='0%25'/%3e%3cstop stop-color='%23A7C7F2' offset='100%25'/%3e%3c/linearGradient%3e%3cradialGradient cx='88.2%25' cy='9.46%25' fx='88.2%25' fy='9.46%25' r='49.38%25' gradientTransform='matrix(0 -.975 1 0 .79 .95)' id='d'%3e%3cstop stop-color='%23486DA8' offset='0%25'/%3e%3cstop stop-color='%23486DA8' stop-opacity='0' offset='100%25'/%3e%3c/radialGradient%3e%3cradialGradient cx='14.44%25' cy='0%25' fx='14.44%25' fy='0%25' r='51.28%25' gradientTransform='matrix(0 -.975 1 0 .14 .14)' id='e'%3e%3cstop stop-color='%23486DA8' offset='0%25'/%3e%3cstop stop-color='%23486DA8' stop-opacity='0' offset='100%25'/%3e%3c/radialGradient%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='122.37%25' id='f'%3e%3cstop stop-color='%23A4C5F4' offset='0%25'/%3e%3cstop stop-color='%23A7C7F2' offset='100%25'/%3e%3c/linearGradient%3e%3c/defs%3e%3cg fill='none' fill-rule='evenodd'%3e%3cpath d='M29.07 21.55a4.29 4.29 0 1 0-.04-8.57 5.71 5.71 0 0 0-11.07-2.59 5.71 5.71 0 1 0-1.75 11.16h12.86z' fill='%2373A5E6' opacity='.32'/%3e%3cg transform='translate(3 10.55)'%3e%3cellipse fill='url(%23a)' opacity='.2' cx='7.5' cy='12.31' rx='6' ry='6.15'/%3e%3cellipse fill='url(%23b)' opacity='.2' cx='23.25' cy='14.62' rx='3.75' ry='3.85'/%3e%3cpath d='M7.5 18.46c-3.31 0-6-2.75-6-6.15 0-3.4 2.69-6.16 6-6.16a6 6 0 0 1 1.8.28 6.78 6.78 0 0 1 6.45-4.9 6.84 6.84 0 0 1 6.67 8 4.4 4.4 0 0 1 1.58-.3c2.49 0 4.5 2.07 4.5 4.62a4.56 4.56 0 0 1-4.5 4.61H7.5z' fill='url(%23c)'/%3e%3cellipse fill='url(%23d)' opacity='.34' cx='7.5' cy='12.31' rx='6' ry='6.15'/%3e%3cellipse fill='url(%23e)' opacity='.2' cx='24' cy='13.85' rx='4.5' ry='4.62'/%3e%3cellipse fill='url(%23f)' cx='15.75' cy='8.46' rx='6.75' ry='6.92'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}

.main__weather-link._big {
    display: flex;
    font-size: 26px;
    align-items: center;
    margin-right: 10px;
}

.main__weather-link {
    font-size: 12px;
    margin-right: 7px;
}

.main__weather-forecast {
    display: flex;
}


.main__weather-icon._big {
    width: 48px;
    height: 48px;
    margin: -24px 8px -24px -6px;
}

.main__weather-time {
    display: block;
    font-size: 9px;
    text-align: center;
    color: #90919d;
    margin-bottom: 3px;
}

.widgets__transport-visual {
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.widgets__transport-icon {
    margin-right: 12px;
    display: inline-block;
    width: 38px;
    height: 35px;
    background-image: url(//yastatic.net/s3/home-static/_/W/6/3iKv0HwMyq3LM_iMXrpDbLZkM.svg);
    background-size: cover;
}

.widgets__transport-value {
    display: inline-block;
    font-size: 26px;
}

.widgets__transport-traffic {
    display: flex;
    align-items: center;
}

.widgets__transport-link {
    font-size: 12px;
    font-weight: 500;
}

/*      SEARCH      */

.search {
    position: relative;
}

.search__field {
    position: relative;
    width: 100%;
}

.search__input {
    position: relative;
    margin-left: 20px;
    padding-left: 10px;
    width: 918px;
    height: 40px;
    border-radius: 9px;
    border: 2px solid #ffcc00;
    border-right: 82px solid #ffcc00;
    /*z-index: -1;*/
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
}

.search__input:focus {
    outline: none;
    border-color: #fff;
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.3);
}

.search__button {
    font-size: 0.9em;
    font-weight: 500;
    cursor: pointer;
    border-radius: 9px;
    position: absolute;
    height: 34px;
    top: 3.5px;
    right: 6px;
    z-index: 10;
    width: 78px;
    background-color: #ffcc00;
    outline: none;
    border: none;
}

.search__button:hover {
    background-color: #f5c401;
}

.search__yandex-logo {
    top: -35px;
    left: -125px;
    position: absolute;
    width: 140px;
    height: 100px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='140' height='100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M121.943 65.335c2.261 0 3.865-.412 5.057-1.275v-3.988c-1.234.863-2.714 1.398-4.77 1.398-3.494 0-4.933-2.714-4.933-6.99 0-4.482 1.768-6.784 4.975-6.784 1.891 0 3.741.658 4.728 1.275v-4.153c-1.028-.576-2.837-.987-5.263-.987-6.249 0-9.498 4.482-9.498 10.772 0 6.908 3.166 10.732 9.704 10.732zm-30.59-1.81v-3.988c-1.521 1.028-4.07 1.933-6.455 1.933-3.578 0-4.934-1.686-5.14-5.14h11.8v-2.59c0-7.195-3.166-9.909-8.058-9.909-5.962 0-8.8 4.564-8.8 10.813 0 7.196 3.537 10.69 9.786 10.69 3.125 0 5.428-.822 6.867-1.809zM46.537 44.242v8.182h-6.538v-8.182h-4.892v20.681h4.892V56.29h6.538v8.634h4.893v-20.68h-4.893zM73.509 61.06h-2.18V44.242H57.063v1.768c0 5.057-.328 11.595-2.055 15.049h-1.522v8.593h4.523v-4.729h10.978v4.729h4.523v-8.593zm33.468 3.864h5.55l-7.853-11.142 6.908-9.539h-4.934l-6.908 9.539v-9.539h-4.892v20.681h4.892V54.768l7.237 10.155zm-23.56-17.227c2.426 0 3.166 2.015 3.166 4.605v.411h-6.825c.124-3.29 1.316-5.016 3.66-5.016zm-16.98 13.363h-6.908c1.357-3.125 1.727-8.758 1.727-12.335v-.617h5.18V61.06z' fill='%23000'/%3E%3Cpath d='M30.995 64.923H26.02v-24.71H23.8c-4.07 0-6.208 2.055-6.208 5.098 0 3.453 1.48 5.057 4.522 7.113l2.508 1.686-7.236 10.813H12l6.496-9.662c-3.741-2.673-5.838-5.263-5.838-9.662 0-5.51 3.824-9.251 11.101-9.251h7.236v28.575z' fill='%23FC3F1D'/%3E%3C/svg%3E");
}

