@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

body {
    /*min-width: 1000px;*/
    font-size: 16px;
    height: 100%;
    width: 100%;
    -webkit-text-size-adjust: 100%;
}

.body-wrapper {
    display: flex;
    flex-direction: column;
}


/*      Aside    */

.aside-info {
    position: absolute;
    right: 0;
    top: 6px;
}

.card {
    padding: 0 0 6px 26px;
    margin-right: 6px;
}

.card__shadow-box {
    box-shadow: 0 0 32px rgb(0 0 0 / 8%);
    border-radius: 8px;
    transition: transform .15s ease-out;
}

.card__card-inner {
    padding: 4px 4px 8px 4px;
    border-radius: 8px;
    width: 186px;
    background-color: #fff;
}

.card__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 36px;
    padding: 0 8px;
}

.card__item._sign-in {
    border-radius: 7px;
    height: 40px;
    margin-bottom: 8px;
    background-color: #f0f0f0;
}

.yandex-item-icon {
    background-image: url(//yastatic.net/s3/home-static/_/Z/6/nfVezDRqofwQZ5e669DSK84Tw.svg);
}

.ya-mail-item-icon {
    background-image: url(//yastatic.net/s3/home-static/_/7/b/D-rWsV7wtCTSK7KcKySHLQhwg.svg);
}

.ya-disk-item-icon {
    background-image: url(//yastatic.net/s3/home-static/_/x/1/-TtNplC5O-tRjvwluglYJocbs.svg);
}

.card__item-icon {
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-size: 24px;
}



.card__item-title {
    display: block;
    flex-grow: 1;
    font-size: 92.31%;
    color: inherit;
}

.card__item-title._center-bold {
    font-weight: 500;
    text-align: center;
    margin-left: -30px;
    font-size: 1.08em;

}

.card__item._hover-color-red:hover {
    color: red;
}

.card__item._hover-bg-darker:hover {
    background-color: #e4e4e4;
}

.ya-plus-item-icon {
    background: url(//yastatic.net/s3/home-static/_/b/q/uyhbff3FsvR1n380s8eZAkOtI.svg) no-repeat 50% 50%;
    margin-top: -4px;
    margin-bottom: -4px;
}

.card__item._solo {
    padding: 12px 14px;
    height: auto;
}

.card__shadow-box._hover-offset:hover {
    transition: transform .15s ease-out;
    transform: translateX(-20px);
}

/*      Main      */

.rows {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.rows__row {
    width: 100%;
}

/*.main{*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*}*/

.main__content {
    padding-right: 165px;
    margin: -4px auto 7px;
    width: 941px;
    display: flex;
}

.headline {
    display: flex;
    justify-content: space-between;
    padding: 0 6px 0 20px;
    margin: 5px 200px 0 auto;
}

.headline__item {
    display: flex;
}

.headline__left-corner {
    display: flex;
    flex: .05 1 auto;
    flex-shrink: 1;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    color: #90919d;
}

.headline__geo-icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: -4px;
    margin-right: 6px;
    position: relative;
    vertical-align: middle;
}

.headline__city {
    display: inline-block;
    line-height: 42px;
    font-size: 0.93em;
    padding-right: 16px;
    font-weight: 700;
}

.headline__city._hover-color-red:hover {
    color: red;
}

.headline__city-name {
    color: inherit;
}

.headline__data-time {
    font-size: .93em;
    padding-right: 24px;
}

.headline__right-corner {
    padding-left: 6px;
}

.headline__bar-item {
    padding-left: 6px;
    cursor: pointer;
}

.ya-bell-icon {
    opacity: .24;
}

.ya-cart-icon {
    width: 36px;
    height: 36px;
    opacity: .24;
    transition: opacity .15s ease-out;
    background: url("data:image/svg+xml;charset=utf8,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.68 5.55H6.48l-.46-1.68a2.2 2.2 0 0 0-2.13-1.62H1.43a1.1 1.1 0 1 0 0 2.2H3.9l2.82 10.33a2.2 2.2 0 0 0 2.48 1.6l11.3-1.9a2.2 2.2 0 0 0 1.84-2.16V7.2c0-.91-.74-1.65-1.65-1.65zM5.83 22.05a2.2 2.2 0 1 0 0-4.4 2.2 2.2 0 0 0 0 4.4zm11 0a2.2 2.2 0 1 0 0-4.4 2.2 2.2 0 0 0 0 4.4z' fill='%23000'/%3E%3C/svg%3E") no-repeat center 8px;
}

.headline__bar-item._hover-increase-opacity:hover {
    opacity: .32;
}

.main__news {
    flex: 1 0 66.6%;
}

.widgets {
    flex: 0 0 33.3%;
}

.main__titles {
    padding-top: 4px;
    margin-right: 18px;
    white-space: nowrap;
}

.main__title {
    margin: 0 12px 8px 0;
    display: inline-block;
    font-weight: 500;
    font-size: 123%;
    vertical-align: baseline;
}

.main__title._primary {
    color: #0054b9;
}

.main__title._secondary {
    color: #6da2e1;
}

.main__title._additional {
    font-size: 81.25%;
    color: #ee7b00;
}

.main__title-link._hover-color-red:hover {
    color: red;
}

.main__title._color-blue {
    color: #0054b9;
}