.create-email-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border-radius: 8px;
  background-color: #f0f1f3;
  color: #005ff9;
  outline: none;
  border: none;
  font-size: 13px;
  height: 32px;
  cursor: pointer;

  &:hover {
    background-color: #e6e8ec;
  }
}