.footer {
  position: relative;
  background-color: #111;

  &__inner {
    padding: 0 var(--gap) var(--gap) var(--gap);
    margin: 0 auto;
    max-width: var(--maxWidth);
  }

  &__star-out-of-border {
    position: absolute;
    fill: url(#orange-to-pink);
    width: 120px;
    height: 120px;
    z-index: -1;
    top: -90px;
    left: var(--gap);

    @media (max-width: 830px) {
      top: -130px;
      right: 40px;
      left: auto;
    }
  }

  &__top {
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    align-items: end;
    gap: var(--gap);

    @media (max-width: 830px) {
      grid-template-columns: 1fr;
    }
  }

  &__links {
    padding-top: 1.5rem;
  }

  &__cite-info {
    font-size: 1.8rem;
    line-height: 1.3;
    margin: 2rem 0 0;
  }

  &__form-wrap {
    background: #434343;
    padding: 1.5rem;
    margin: -3rem 0 0;
    position: relative;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      right: 100%;
      width: 20px;
      height: 48px;
      background: #909090;
      clip-path: polygon(100% 0, 100% 100%, 0 100%);
    }

    @media (max-width: 830px) {
      order: -1;
    }
  }
}
