.grid-content {
  margin: 0 auto;
  display: grid;
  grid-template-areas: "side main";
  grid-auto-columns: 240px auto;
  width: 976px;
  padding: 0 16px;
  grid-column-gap: 20px;


  &__side-footer {
    margin-top: 16px;
  }

  &__side {
    position: sticky;
  }

  @media screen and (min-width: 1069px) {
    grid-auto-columns: 240px auto;
    grid-column-gap: 20px;
    width: 1052px;
    padding: 0 16px;
  }
  @media screen and (min-width: 1189px) {
    grid-auto-columns: 268px auto;
    grid-column-gap: 20px;
    width: 1172px;
    padding: 0 20px;
  }
  @media screen and (min-width: 1253px) {
    width: 1236px;
    padding: 0 20px;
  }
  @media screen and (min-width: 1317px) {
    grid-auto-columns: 300px auto;
    grid-column-gap: 20px;
    width: 1300px;
    padding: 0 20px;
  }
  @media screen and (min-width: 1521px) {
    width: 1504px;
    padding: 0 32px;
    grid-column-gap: 40px;
  }

  &__main-content {
    width: calc(976px - 240px - 20px - 2 * 16px);
    @media screen and (min-width: 1069px) {
      width: calc(1052px - 20px - 240px - 2 * 16px);
    }
    @media screen and (min-width: 1189px) {
      width: calc(1172px - 20px - 268px - 2 * 20px);
    }
    @media screen and (min-width: 1253px) {
      width: calc(1236px - 20px - 268px - 2 * 20px);
    }
    @media screen and (min-width: 1317px) {
      width: calc(1300px - 20px - 300px - 2 * 20px);
    }
    @media screen and (min-width: 1521px) {
      width: calc(1504px - 40px - 300px - 2 * 32px);
    }
  }

}