.headline {
  display: flex;
  justify-content: space-between;
  padding: 0 6px 0 20px;
  margin: 5px 220px 0 auto;

  @media (max-width: 1600px) {
    margin-right: 200px;
  }

  @media (max-width: 1040px) {
    margin-right: 0;
  }

  &__left-corner {
    display: flex;
    flex: 0.05 1 auto;
    flex-shrink: 1;
    align-items: baseline;
    color: #90919d;
    font-size: 0.75em;
  }

  &__geo-icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: -4px;
    margin-right: 4px;
    position: relative;
    vertical-align: middle;
  }

  &__city {
    font-size: 0.8em;
    display: inline-block;
    line-height: 42px;
    padding-right: 16px;
    font-weight: 700;
  }

  &__city-name {
    color: inherit;
  }

  &__data-time {
    font-weight: 600;
    font-size: 0.8em;
    padding-right: 24px;
  }

  &__right-corner {
    display: flex;
    padding-left: 6px;
  }

  &__bar-item {
    width: 36px;
    height: 36px;
    margin-left: 6px;
    opacity: 0.24;
    cursor: pointer;
    transition: opacity 0.15s ease-out;

    &._hover-increase-opacity:hover {
      opacity: 0.32;
    }
  }

  &__bar-item-cart {
    background-repeat: no-repeat;
    background-position: center 8px;
  }
}
