.mail-head {
  padding: 12px 19px 8px 19px;
  display: flex;
  justify-content: space-between;
  color: #005bd1;
  font-weight: 700;
  font-size: 15px;

  &__mail {
    &:hover {
      text-decoration: underline;
    }
  }
}
