.news {
  color: @dark-gray-color;
  .font(15px);
  line-height: 20px;
  width: 364px;

  @media screen and (min-width: 1069px) {
    width: 440px;
  }
  @media screen and (min-width: 1189px) {
    width: 524px;
  }
  @media screen and (min-width: 1253px) {
    width: 588px;
  }
  @media screen and (min-width: 1317px) {
    width: 620px;
  }
  @media screen and (min-width: 1521px) {
    width: 780px;
  }

  &__item {
    width: 100%;
    padding: 4px 0;
    display: inline-flex;
    align-items: baseline;
  }

  &__link {
    width: 100%;
    position: relative;


    &::after {
      content: '';
      position: absolute;
      right: -1px;
      width: 18px;
      box-shadow: inset -8px 0 16px @white-color;
      bottom: 0;
      top: 0;
    }
  }

  &__image {
    border-radius: 4px;
    margin-right: 12px;
    width: 64px;
    height: 48px;
  }

  &__category-prefix {
    display: inline-block;
    .bold-font;
    .font(11px);
    letter-spacing: 0.8px;
    text-transform: uppercase;
    line-height: 16px;
    color: @dark-gray-2-color;
    white-space: nowrap;
    margin-right: 2px;

    &:hover {
      text-decoration: underline;
    }
  }
}
