.page {
  color: #fff;
  overflow-x: hidden;
  background-color: #262626;
  background-position: top 58px center;
  background-repeat: no-repeat;
  background-image: radial-gradient(
      50% 50% at top center,
      rgba(0, 0, 0, 0.66),
      #262626
    ),
    linear-gradient(180deg, #fff, #262626);
  background-size: 120% 2000px, 100% 2000px;

  position: relative;
  z-index: 0;

  &__header {
    margin-bottom: var(--gap);
  }

  &__main {
    padding: 0 var(--gap);
    max-width: var(--maxWidth);
    margin: 0 auto;
  }

  &__article-compilation {
    margin-bottom: var(--gap);
  }

  &__footer {
    margin-top: calc(5 * var(--gap));

    @media (max-width: 800px) {
      margin-top: 20rem;
    }
  }
}
