.page {
  background-color: #fefefe;
  min-height: 100vh;
  min-width: 335px;

  &__header {
    background-image: linear-gradient(to bottom, #fefefe, #f9f9f8);
    position: relative;
    padding-bottom: 16px;
    min-width: 420px;
  }

  &__footer {
    position: fixed;
    bottom: 0;
  }

  &__aside-content {
    position: absolute;
    right: 6px;
    top: 6px;
  }

  &__center {
    box-sizing: content-box;
    margin: 0 auto;
    padding-right: 17px;
    padding-left: 20px;
    width: 941px;
    min-width: 378px;

    @media (max-width: 1400px) {
      padding-right: 165px;
    }

    @media (max-width: 1200px) {
      width: 758px;
    }

    @media (max-width: 1040px) {
      padding-right: 0;
    }

    @media (max-width: 850px) {
      width: 90vw;
    }
  }

  &__main {
    min-width: 420px;
    box-sizing: content-box;
    height: 100%;
    padding-bottom: 100px;
    background-image: linear-gradient(to bottom, #f9f9f8 10%, #f3f3f2);
  }
}
