.pulse-header {
  padding-bottom: 8px;
  display: flex;
  .font(15px);
  line-height: 20px;
  border-bottom: 1px solid @light-gray-color;

  &__title {
    color: @sea-2-color;
    .bold-font;
    &:hover {
      text-decoration: underline;
    }
  }

  &__pulse-info {
    margin-right: 40px;
  }

  &__tabs {
    display: flex;
  }

  &__tab {
    margin-right: 20px;
    cursor: pointer;

    &._selected {
      color: @sea-2-color;
      .bold-font;
      margin-bottom: -8px;
      border-bottom: 2px solid @sea-2-color !important;
    }
  }
}
