.rate {
  display: flex;
  align-items: start;
  justify-content: center;

  &__currency {
    margin-left: 6px;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  &__currency-now {
    .font(15px);
    line-height: 20px;
    margin-bottom: 2px;
    .thin-font;
  }

  &__currency-diff {
    .font(11px);
    line-height: 12px;
    .thin-font;
    display: flex;
    align-items: center;

    &._down {
      color: @delicate-red-color;
    }

    &._up {
      color: @emerald-color;
    }
  }

  &__currency-diff-icon {
    fill: currentColor;
    width: 16px;
    height: 16px;
  }

  &__icon {
    margin-top: 2px;
    width: 16px;
    height: 16px;
  }
}
