.search-container {
  width: 100%;
  &__categories {
    display: flex;
    margin-bottom: 8px;
  }

  &__category {
    .font(15px);
    margin-right: 24px;
    color: @sea-color;
    text-decoration: none;

    &._selected {
      .bold-font;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
