.tags-row {
  line-height: 1;

  &__tag {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    color: #ff7a18;
    font-size: 0.66rem;
    margin-right: 0.66rem;
    font-family: "MD Primer Bold", sans-serif;

    &:hover {
      opacity: 0.66;
    }
  }
}
