.vk-id-login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border-radius: 8px;
  background-color: @blue-vk-color;
  color: @white-color;
  outline: none;
  border: none;
  .font(13px);
  height: 32px;
  cursor: pointer;
  white-space: nowrap;

  &:hover {
    background-color: @blue-dark-vk-color;
  }

  &__icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
}
