.weather-forecast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0 12px;

  &__picture {
    width: 24px;
    height: 24px;
  }

  &__weather {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__time {
    .font(13px);
    color: @gray-2-color;
  }

  &__temperature {
    .font(15px);
    line-height: 20px;
    .bold-font;
    margin: 0 0 0 6px;
  }
}
