@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-one: #ff9000;
    --color-two: #ffe4c8;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    background-image: linear-gradient(to top, #ff9000, #ffe4c8 50%);
    padding-top: 100px;
    min-height: 100vh;
}

.form {
    min-width: 800px;
    width: 60%;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 6px 10px 4px rgba(0, 0, 0, 0.1);
}

.main__form {
    padding: 60px;
    margin: 0 auto;
}

.title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.form__title {

}

.fieldset {
    outline: none;
    border: none;
}

.form__fieldset {
    width: 90%;
    margin: 0 auto;
}

.legend {
    font-size: 20px;
    font-weight: 600;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.form__input {
    display: block;
    margin-top: 6px;
    width: 100%;
}

.label {
    font-size: 14px;
    text-transform: capitalize;
}

.form__label {
    display: block;
    margin: 0 15px;
}

.input {
    outline: none;
    border: none;
    transition: all 0.2s;
    font-size: 14px;
}

.input_type_text-content {
    height: 44px;
    padding: 10px 20px;
    border-radius: 22px;
    width: 100%;
    background-color: #f1f4f8;
    box-shadow: 0 0 0 0 #ff9000;
}

.input_type_text-content:focus {
    box-shadow: 0 0 2px 0.4px #ff9000;
    background-color: #fff;
    transition: all 0.2s;
}

.input_type_text-content::placeholder {
    text-transform: capitalize;
    color: #c2c2c3;
}

.row__col_width_half {
    width: 48%;
}


.form__row {
    margin-bottom: 40px;
}

.row__col_width_full {
    width: 100%;
}

.input_type_file {
    display: none;
}

.label_type_photo {
    display: flex;
    justify-content: center;
}

.figure__content {
    height: 80px;
    width: 80px;
    margin: 0 auto 6px;
    border-radius: 50%;
    background: #ff9000;
    box-shadow: 0 0 5px 0 #ff9000;
    transition: 0.2s;
}

.figure__image {
    width: 40px;
    margin: 0 auto;
    transform: translateY(50%);
    display: block;
}

.figure__content:hover {
    box-shadow: 0 0 5px 2px #ff9000;
    transition: 0.2s;
}

.figure__image_filter_invert {
    filter: invert(1);
}

.select {
    background-image: url("https://img.icons8.com/ios-glyphs/30/000000/expand-arrow--v1.png");
    background-size: 20px;
    background-position: 95% 50%;
    background-repeat: no-repeat;
    appearance: none;
    border: none;
    text-transform: capitalize;
}

.select__option {
    border: none;
}
s