@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "./button/button.css";

@import "./fieldset/fieldset.css";
@import "./fieldset/__legend/fieldset__legend.css";

@import "./figure/__content/figure__content.css";
@import "./figure/__description/figure__description.css";
@import "./figure/__image/figure__image.css";
@import "./figure/__image/_filter/figure__image_filter_invert.css";

@import "./form/form.css";
@import "./form/__button/form__button.css";
@import "./form/__col/form__col.css";
@import "./form/__col/_width/form__col_width_half.css";
@import "./form/__fieldset/form__fieldset.css";
@import "./form/__input/form__input.css";
@import "./form/__label/form__label.css";
@import "./form/__row/form__row.css";

@import "./input/input.css";
@import "./input/_type/input_type_file.css";
@import "./input/_type/input_type_radio.css";
@import "./input/_type/input_type_text-content.css";

@import "./label/label.css";
@import "./label/_type/label_type_photo.css";
@import "./label/_type/label_type_radio.css";

@import "./main/main.css";
@import "./main/__form/main__form.css";

@import "./radio-wrapper/radio-wrapper.css";
@import "./radio-wrapper/__option/radio-wrapper__option.css";

@import "./select/select.css";

@import "./textarea/textarea.css";

@import "./title/title.css";

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}








/*  Для читабельности   */

/*main {*/
/*    background-image: linear-gradient(to top, #ff9000, #ffe4c8 50%);*/
/*    padding: 100px 0;*/
/*    min-height: 100vh;*/
/*}*/

/*.form {*/
/*    min-width: 800px;*/
/*    padding: 60px;*/
/*    width: 60%;*/
/*    background-color: #fff;*/
/*    border-radius: 30px;*/
/*    box-shadow: 0 6px 10px 4px rgba(0, 0, 0, 0.1);*/
/*}*/

/*.main__form {*/
/*    margin: 0 auto;*/
/*}*/

/*.title {*/
/*    font-size: 24px;*/
/*    font-weight: 600;*/
/*    text-align: center;*/
/*}*/

/*.form__title {*/

/*}*/

/*.fieldset {*/
/*    outline: none;*/
/*    border: none;*/
/*}*/

/*.form__fieldset {*/
/*    width: 90%;*/
/*    margin: 0 auto;*/
/*}*/

/*.fieldset__legend {*/
/*    font-size: 20px;*/
/*    font-weight: 600;*/
/*}*/

/*.form__input {*/
/*    display: block;*/
/*    margin-top: 6px;*/
/*    width: 100%;*/
/*}*/

/*.label {*/
/*    font-size: 14px;*/
/*    text-transform: capitalize;*/
/*}*/

/*.form__label {*/
/*    display: block;*/
/*    margin: 0 15px;*/
/*}*/

/*.input {*/
/*    outline: none;*/
/*    border: none;*/
/*    transition: all 0.2s;*/
/*    font-size: 14px;*/
/*}*/

/*.input_type_text-content {*/
/*    height: 44px;*/
/*    padding: 10px 20px;*/
/*    border-radius: 22px;*/
/*    width: 100%;*/
/*    background-color: #f1f4f8;*/
/*    box-shadow: 0 0 0 0 #ff9000;*/
/*}*/

/*.input_type_text-content:hover {*/
/*    background-color: #f1f4f8;*/
/*}*/

/*.input_type_text-content:valid {*/
/*    background-color: rgba(0, 255, 4, 0.1);*/
/*}*/

/*.input_type_text-content:focus {*/
/*    box-shadow: 0 0 2px 0.4px #ff9000;*/
/*    background-color: #fff;*/
/*    transition: all 0.2s;*/
/*}*/

/*.input_type_text-content::placeholder {*/
/*    text-transform: capitalize;*/
/*    color: #c2c2c3;*/
/*}*/

/*.form__col {*/
/*    width: 100%;*/
/*}*/

/*.form__col_width_half {*/
/*    width: 48%;*/
/*}*/


/*.form__row {*/
/*    margin-bottom: 40px;*/
/*    width: 100%;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: flex-end;*/
/*}*/

/*.input_type_file {*/
/*    display: none;*/
/*}*/

/*.label_type_photo {*/
/*    cursor: pointer;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

/*.figure__content {*/
/*    height: 80px;*/
/*    width: 80px;*/
/*    margin: 0 auto 6px;*/
/*    border-radius: 50%;*/
/*    background: #ff9000;*/
/*    box-shadow: 0 0 5px 0 #ff9000;*/
/*    transition: 0.2s;*/
/*}*/



/*.figure__image {*/
/*    width: 40px;*/
/*    margin: 0 auto;*/
/*    transform: translateY(50%);*/
/*    display: block;*/
/*}*/

/*.figure__content:hover {*/
/*    box-shadow: 0 0 5px 2px #ff9000;*/
/*    transition: 0.2s;*/
/*}*/

/*.figure__image_filter_invert {*/
/*    filter: invert(1);*/
/*}*/

/*.figure__description {*/
/*    display: block;*/
/*    width: 100%;*/
/*    text-align: center;*/
/*}*/

/*.select {*/
/*    cursor: pointer;*/
/*    background-image: url("https://img.icons8.com/ios-glyphs/30/000000/expand-arrow--v1.png");*/
/*    background-size: 20px;*/
/*    background-position: 95% 50%;*/
/*    background-repeat: no-repeat;*/
/*    appearance: none;*/
/*    border: none;*/
/*    text-transform: capitalize;*/
/*}*/

/*.select__option {*/
/*    border: none;*/
/*}*/

/*.radio-wrapper {*/
/*    height: 44px;*/
/*    margin-top: 6px;*/
/*    display: flex;*/
/*    align-items: flex-end;*/
/*}*/

/*.radio-wrapper__option {*/
/*    height: 100%;*/
/*    margin-right: 40px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*.input_type_radio {*/
/*    display: none;*/
/*}*/

/*.label_type_radio {*/
/*    cursor: pointer;*/
/*}*/

/*.label_type_radio::before {*/
/*    margin-right: 5px;*/
/*    position: relative;*/
/*    bottom: -5px;*/
/*    content: '';*/
/*    display: inline-block;*/
/*    width: 15px;*/
/*    height: 15px;*/
/*    border: 2px solid #ff9000;*/
/*    border-radius: 50%;*/
/*    background-color: transparent;*/
/*}*/

/*.input_type_radio:checked + label::before {*/
/*    background-color: #ff9000;*/
/*}*/

/*.textarea {*/
/*    height: 200px;*/
/*    resize: none;*/
/*}*/

/*.button {*/
/*    cursor: pointer;*/
/*    color: #fff;*/
/*    font-weight: 600;*/
/*    outline: none;*/
/*    border: none;*/
/*    height: 40px;*/
/*    width: 150px;*/
/*    border-radius: 20px;*/
/*    background-color: #ff9000;*/
/*    box-shadow: 0 0 5px #ff9000;*/
/*    transition: 0.2s;*/
/*}*/

/*.button:hover {*/
/*    background-color: #f28900;*/
/*    box-shadow: 0 0 10px #ff9000;*/
/*    transition: 0.2s;*/
/*}*/

/*.form__button {*/
/*    display: block;*/
/*    margin: 0 auto;*/
/*}*/