@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #303952;
}

body {
    width: 100vw;
    max-width: 100%;
    background: #63cdda;
}

header {
    background: #3dc1d3;
    padding: 60px 0;
}

h1 {
    text-align: center;
    font-size: 36px;
    letter-spacing: 0.2em;
}

main {
    height: 1200px;
}

.block {
    margin: 20px;
    padding: 20px;
    width: 320px;
    background: #ea8685;
}

.block code {
    padding: 10px;
    display: block;
    font-size: 20px;
    height: 100%;
    background: #e07f7e;
}

.block span {
    display: block;
}

.block span.tab {
    padding-left: 30px;
}

.block#block1 {
    position: sticky;
    top: 20px;
    left: 100%;
}

.block#block2 {
    position: absolute;
    top: 100px;
    left: 100px;
}


