.button {
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    outline: none;
    border: none;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    background-color: #ff9000;
    box-shadow: 0 0 5px #ff9000;
    transition: 0.2s;
}

.button:hover {
    background-color: #f28900;
    box-shadow: 0 0 10px #ff9000;
    transition: 0.2s;
}