* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

:root {
    font-size: 18px;
}

ul {
    list-style: none;
}