.input_type_text-content {
    height: 44px;
    padding: 10px 20px;
    border-radius: 22px;
    width: 100%;
    background-color: #f1f4f8;
    box-shadow: 0 0 0 0 #ff9000;
}

.input_type_text-content:hover {
    background-color: #f1f4f8;
}

.input_type_text-content:valid {
    background-color: rgba(0, 255, 4, 0.1);
}

.input_type_text-content:focus {
    box-shadow: 0 0 2px 0.4px #ff9000;
    background-color: #fff;
    transition: all 0.2s;
}

.input_type_text-content::placeholder {
    text-transform: capitalize;
    color: #c2c2c3;
}